*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #4b6344;
}

h1, h2 {
    color: #4b6344;
}

strong {
    color: red;
}



nav ul li {
    list-style: none;
    line-height: 69px;
    height: 69px;
    width: 300px;
    text-align: center;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: grey;
    display: block;
    transition: 1s;
}
nav ul li a:hover{
    background: grey;
    color: white;
}
/* #affichage          /*On appelle le p avec cette id*/
/*{
    color: red;      */   /*On change la couleur du texte*/
    /*font-weight: bold;  */        /*On modifie l'aspect du texte*/
/*}  */

table td{
    border: black solid 1px;  /* on défini la contour du tableau */
}

table, table th, table td
{
    border: solid 1px blue;
}